@import './variables';

* {
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
	font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: $green;
	transition: all 0.3s ease;

	&.dark-theme {
		background-color: #1a1a1a;
		color: #fff;

		.wrapper {
			background-color: #2d2d2d;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		}

		button {
			background-color: rgba(255, 255, 255, 0.1);
			color: #fff;
		}
	}
}

.wrapper{
	width: calc(100vw - 100px);
	max-width: 1400px;
	min-width: 320px;
	height: 100%;
	margin: 50px auto;
	padding-bottom: 30px;
	border-radius: 10px;
	background-color: $yellow;

	@media (max-width: 645px){
		width: calc(100vw - 30px);
		margin-top: 15px;
	}
}


h1{
	font-weight: 600;
	font-size: 28px;
	line-height: 30px;
}